:root {
  --green: #20b820;
}

/* font style for the whole website fonts */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.remove-default-margin {
  margin: 0px;
}

/* logo size */
.logo {
  width: 250px;
  height: 100px;
}

/* splash screen animation start */
.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: l1 1s linear infinite alternate;
}

.loader:before {
  content: "";
}

@keyframes l1 {
  to {
    opacity: 0;
  }
}

/* splash screen animation end */

.title {
  font-size: 24px;
  padding: 0px;
  margin: 0px;
}

/* footer style start */
.footer-child-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.email-box {
  padding: 0px;
  margin: 0px;
  word-break: break-all;
}

.combine-footer-div {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.first-tab-size-div {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8%;
}

.second-tab-size-div {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 767px) {
  .combine-footer-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
  }

  .first-tab-size-div {
    width: 100%;
    flex-direction: column;
  }

  .second-tab-size-div {
    width: 100%;
    flex-direction: column;
  }

  .footer-child-div {
    flex-direction: row;
  }
}

@media ((min-width : 768px) and (max-width: 1023px)) {
  .first-tab-size-div {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .second-tab-size-div {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  @media ((min-width: 768px) and (max-width: 1023px)) {
    .combine-footer-div {
      width: 100%;
    }
  }
}

/* footer style end */

/* scrollbar style start */
/* scrollbar style for the chrome, edge, opera and brave browsers */
/* scrollbar width */
::-webkit-scrollbar {
  width: 10px;
}

/* scrollbar thumb (draggable part) */
::-webkit-scrollbar-thumb {
  background: #20b820;
  border-radius: 10px;
}

/* scrollbar style for the firefox */
* {
  scrollbar-width: thin;
  /* thumb-color track-color */
  scrollbar-color: #20b820 transparent;
}

/* scrollbar style end */